@font-face {
    font-family: 'yekan';
    src:url('../fonts/fonts/BYekan.eot?#') format('eot'),
          url('../fonts/fonts/BYekan.woff') format('woff'),
          url('../fonts/fonts/BYekan.ttf') format('truetype');
}
@font-face {
    font-family: 'nazanin';
    src:url('../fonts/fonts/BNazanin.eot?#') format('eot'),
          url('../fonts/fonts/BNazanin.woff') format('woff'),
          url('../fonts/fonts/BNazanin.ttf') format('truetype');
}
@font-face {
	font-family: "koodak";
	src: url("../fonts/fonts/BKoodakBold.eot");
	src: url("../fonts/fonts/BKoodakBold.eot?") format("eot"),
	url("../fonts/fonts/BKoodakBold.woff") format("woff"),
	url("../fonts/fonts/BKoodakBold.ttf") format("truetype");
}

body{
	font-family:Tahoma,Arial,sans-serif;
	font-size:13px;
}
.btn{
	font-family:yekan;
}
.box-login h3{
	font-family:nazanin;
	font-weight: 800;
}
.box-login .btn-bricky{
	font-family: yekan;
}

.page-header h1{
	font-family:nazanin;
}

.panel .panel-tools > .dropdown{
	display: inline-block;
}
.dropdown-menu {
	text-align: right;
}
body.login label.error {
    color: #7F7F7F;
    font-size: 13px;
    margin-top: 0px;
}
.btn-icon {
	height: auto;
	padding: 19px 0;
}
.btn-icon [class^="fa-"], .btn-icon [class*=" fa-"], .btn-icon [class^="clip-"], .btn-icon [class*=" clip-"] {
	margin-bottom: 6px;
}
body.rtl .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
body.rtl .checkbox input[type="checkbox"],
body.rtl .checkbox-inline input[type="checkbox"],
body.rtl .radio input[type="radio"],
body.rtl .radio-inline input[type="radio"] {
    margin-left:0;
    margin-right: -20px;
}
.ltr{
	direction: ltr;
	text-align: left;
}
.ui-autocomplete{

	background:#fff;
	padding: 8px 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	list-style:none;
	margin: 12px 0;
	z-index:105000;
}
.ui-autocomplete li.ui-menu-item,
.ui-autocomplete li.ui-state-focus{
	padding: 10px 20px;
	font-size: 18px;
	line-height: 16px;
	font-family:Tahoma;
}
.ui-autocomplete li.ui-menu-item:hover,
.ui-autocomplete li.ui-menu-item:focus{
	cursor: pointer;
	color: #FFF;
	background: #0097CF;
	border:none;
	font-weight: normal;
}
.ui-autocomplete.ui-menu .ui-state-focus,
.ui-autocomplete.ui-menu .ui-state-active{
	margin:0
}
.ui-autocomplete.ui-menu .ui-menu-item  strong,
.ui-autocomplete.ui-menu .ui-menu-item  small{
	display:block;
	line-height: 14px;
}
.ui-autocomplete.ui-menu .ui-menu-item  strong{
	font-family:BYekan;
	font-size: 16px;

	font-weight: 700;
}
.ui-autocomplete.ui-menu .ui-menu-item  small{
	font-size: 11px;
}
.ui-autocomplete.ui-menu .ui-menu-item .ui-menu-item-wrapper.ui-state-active{

	background: none;
	border:none;
	color:#000;
}
.ui-autocomplete li.ui-menu-item:hover .ui-menu-item-wrapper.ui-state-active,
.ui-autocomplete li.ui-menu-item:focus .ui-menu-item-wrapper.ui-state-active{
	color: #FFF;
}
