#user-activate-modal {
	border-color: #4cae4c;
	font-family: yekan;
	.modal-header {
		background-color: transparent;
		border: none;
		.modal-title {
			font-family: nazanin;
		}
	}
	.modal-body {
		color: #212529;
	}
	.modal-footer {
		background-color: transparent;
		border: none;
		.btn {
			transition: all .3s ease-in-out;
			&.btn-success {
				background-color: transparent;
				color: #333;
				&:hover {
					color: #fff;
					background-color: #5cb85c;
				}
			}
		}
	}
}
#user-suspend-modal {
	border-color: #eea236;
	font-family: yekan;
	.modal-header {
		background-color: transparent;
		border: none;
		.modal-title {
			font-family: nazanin;
		}
	}
	.modal-body {
		color: #212529;
	}
	.modal-footer {
		background-color: transparent;
		border: none;
		.btn {
			transition: all .3s ease-in-out;
			&.btn-warning {
				background-color: transparent;
				color: #333;
				&:hover {
					color: #fff;
					background-color: #ec971f;
				}
			}
		}
	}
}
body.users {
	&.users_edit {
		.change-permissions-container {
			.warning-custom-permissions {
				color: #f0ad4e;
				user-select: none;
			}
		}
	}
}